<form action="">
    <label>
        <span>dependencies</span>
        <input type="text" ng-model="data.dependencies">
    </label>
    <label>
        <span>source</span>
        <editor ng-model="data.source"></editor>
    </label>
    <label>
        <span>test</span>
        <editor ng-model="data.test"></editor>
    </label>
</form>
