html, body {
    height: 100%;
}

body {
  background-color: #444;
  color: #bbb;
}

.code-content {
  label {
    display: block;
    margin-bottom: 1em;

    span {
      display: block;
    }
  }
}

.CodeMirror {
  line-height: 1.6em;
  font-size: 16px;
  height: auto;
  overflow: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

#modal-view {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    vertical-align: middle;

    &.open {
        display: block;
    }
}
